<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Actividad</th>
      <th>Completar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarea of tareas; index as i" >
      <th>{{i + 1}}</th>
      <td>
        <b>{{tarea}}</b>
      </td>
      <td>
        <button class="button is-success is-rounded">
          <span class="icon is-small">
            <i class="fas fa-check"></i>
          </span>
          <span>Completar</span>
        </button>
      </td>
      <td>
        <button class="button is-danger is-rounded">
          <span class="icon is-small">
            <i class="fas fa-times"></i>
          </span>
          <span>Eliminar</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
